@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  background: #ffffff;
  color: #171717;
  min-height: 100%;
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-area,
  #print-area * {
    visibility: visible;
  }

  #print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .fixed {
    display: none !important;
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }
}